.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}


.login-card input[type="email"],
.login-card .password-wrapper input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box; /* ajoute cette ligne */
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.login-card .remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.login-card button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #0056b3;
}

.login-card .switch {
  margin-top: 15px;
}